:root 
{
    --color-primary-1: hsl(186, 98%, 17%);
    --color-primary-2: hsl(0, 87%, 73%);
    --color-primary-3: hsl(0, 0, 100%);

    --color-secondary-1: hsl(179, 42%, 63%);
    --color-secondary-2: hsl(187, 41%, 29%);
    --color-secondary-3: hsl(186, 100%, 14%);
    --color-secondary-4: hsl(186, 96%, 10%);
    --color-secondary-5: hsl(186, 100%, 8%);


    --font: 'Livvic', sans-serif;
}

* 
{
    box-sizing: border-box;
    margin: 0;

    
}


.only-desktop {
    display: none;
}


/*Typography */

body 
{
    text-align: center;
    font-size: 1rem;
    line-height: 1;
}

h1, h2, h3, body
{
    font-weight: bold;
}
h1 
{
    font-size: 2.6rem;
    max-width: 250px;
    margin: 0 auto 1.4rem;
}


h1 span 
{
    color: var(--color-primary-2);
}


h2 {
    font-size: 2.1rem;
}

h3 
{
    font-size: 1.24rem;
    color: var(--color-primary-2);
}


a
{
    color: white;
    text-decoration: none;
    font-weight: normal;
}


p 
{
    line-height: 1.9;

    font-weight: normal;
}

.main-block:nth-child(2) h2::before
{
    content: '';
    background-color: var(--color-primary-2);
    width: 3.8rem;
    height: 0.28rem;
    position: absolute;
    top: 0;
    
}
.main-block:nth-child(2) h2
{
    padding-top: 2.4rem;
    position: relative;
    text-align: left;
    width: 220px;

    margin-bottom: 3.5rem;

}



.feature .icon 
{
    margin-bottom: 1.2rem;
}



/*layout */

body {
    font-family: var(--font);
    color: white;
    background: var(--color-primary-1);

    padding: 2.81rem 0 0;
}


header 
{
    margin-bottom: 4.5rem;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo 
{
    max-width: 130px;
}

.nav-mobile-overlay
{
    background-color: rgba(0,0,0,0.5);
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    visibility: hidden;
    opacity: 0;

    transition: opacity 250ms, visibility 250ms;
}

.nav-mobile-overlay.show-2 
{
    visibility: visible;
    opacity: 1;
}

.nav-mobile 
{
    margin-left: auto;
    width: 68%;
    height: 100%;
    background: var(--color-secondary-2);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 3.5rem 1.75rem 0 3rem;


    background-image: url(../images/bg-pattern-about-1-mobile-nav-1.svg);
    background-repeat: no-repeat;
    background-position-x: 154px;
    background-position-y: bottom;

    
    opacity: 0;
    transform: translateX(100%);
    display: none;

    transition: transform 250ms, opacity 250ms
}

.nav-mobile-overlay.show-1 .nav-mobile
{
    display: flex;
} 

.nav-mobile-overlay.show-2 .nav-mobile 
{
    transform: translateX(0%);
    opacity: 1;
}

.nav-mobile .close-btn 
{
    align-self: flex-end;
    margin-bottom: 2.8rem;
}

.nav-mobile a 
{
    margin-bottom: 2rem;
}

.nav-mobile .btn 
{
    align-self: center;
}



.main-block:first-child 
{
    padding-bottom: 10rem;
    background-image: url(../images/bg-pattern-home-2.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}


.main-block:nth-child(2)
{
    background-color: var(--color-secondary-4);
    background-image: url(../images/bg-pattern-home-3.svg);
    background-repeat: no-repeat;
    background-position-x: 275px;

    padding: 4rem 0 4rem;
}


.feature h3 
{
    margin-bottom: 0.5em;
}

.feature {
    margin-bottom: 3rem;
}


/*Components */


.btn 
{
    border: solid 2px white;
    padding: 0.6em 1.8em;
    border-radius: 2rem;
}


.container 
{
    width: 89%;
    margin-left: auto;
    margin-right: auto;
}
