:root 
{
    --color-primary-1: hsl(186, 98%, 17%);
    --color-primary-2: hsl(0, 87%, 73%);
    --color-primary-3: hsl(0, 0, 100%);

    --color-secondary-1: hsl(179, 42%, 63%);
    --color-secondary-2: hsl(187, 41%, 29%);
    --color-secondary-3: hsl(186, 100%, 14%);
    --color-secondary-4: hsl(186, 96%, 10%);
    --color-secondary-5: hsl(186, 100%, 8%);


    --font: 'Livvic', sans-serif;
}

* 
{
    box-sizing: border-box;
    margin: 0;
}


.only-desktop {
    display: none;
}


/*Typography */
h1, h2, h3, body
{
    font-weight: bold;
}
h1 
{
    font-size: 3rem;
}


h2 {
    font-size: 3rem;
}

h3 
{
    font-size: 1.125rem;
}


body 
{
    font-size: 1.125rem;
}
a
{
    color: white;
    text-decoration: none;
    font-weight: normal;
}



/*layout */

body {
    font-family: var(--font);
    color: white;
    background: var(--color-primary-1);

    padding: 2.81rem 6.4% 0;
}



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo 
{
    max-width: 130px;
}

.nav-mobile-overlay
{
    background-color: rgba(0,0,0,0.5);
    position: absolute;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    visibility: hidden;
    opacity: 0;

    transition: opacity 250ms, visibility 250ms;
}

.nav-mobile-overlay.show 
{
    visibility: visible;
    opacity: 1;
}

.nav-mobile 
{
    margin-left: auto;
    width: 68%;
    height: 100%;
    background: var(--color-secondary-2);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 3.5rem 1.75rem 0 3rem;


    background-image: url(../images/bg-pattern-about-1-mobile-nav-1.svg);
    background-repeat: no-repeat;
    background-position-x: 154px;
    background-position-y: bottom;

    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;

    transition: transform 250ms, opacity 250ms, visibility 250ms;
}

.nav-mobile-overlay.show .nav-mobile 
{
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
}

.nav-mobile .close-btn 
{
    align-self: flex-end;
    margin-bottom: 2.8rem;
}

.nav-mobile a 
{
    margin-bottom: 2rem;
}

.nav-mobile .btn 
{
    align-self: center;
}




/*Components */


.btn 
{
    border: solid 2px white;
    padding: 0.6em 1.8em;
    border-radius: 2rem;
}
